pkgbase = hyprupld
	pkgdesc = Hyprland screenshot and screen recording utility
	pkgver = 0.0.0.r0.gxxxxxxx
	pkgrel = 1
	url = https://github.com/PhoenixAceVFX/hyprupld
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = wget
	makedepends = imagemagick
	makedepends = cmake
	depends = bash
	depends = fuse2
	depends = glib2
	depends = cairo
	depends = pango
	source = git+https://github.com/PhoenixAceVFX/hyprupld.git
	sha256sums = SKIP

pkgname = hyprupld
